.homeSlider {
  width: 100%;
  position: relative;
}
.homeSlider .slick-list {
  width: 100%;
}
.homeSlider .homeSlider_img {
  width: 100%;
}
.homeSlider .homeSliderPrev {
  position: absolute;
  bottom: 0px;
  right: 202px;
  z-index: 3;
  width: 90px;
  padding: 20px 0;
  background: #ffffff;
  text-align: center;
  border: none;
  border-radius: 0;
  outline: none;
}
.homeSlider .homeSliderNext {
  position: absolute;
  bottom: 0px;
  right: 128px;
  z-index: 3;
  width: 90px;
  padding: 20px 0;
  background: #ffffff;
  text-align: center;
  border: none;
  border-radius: 0;
  outline: none;
}

.prettyprinted {
  display: none;
}

body.cms-home .main-container {
  padding-top: 0 !important;
}

.our_nice_job_block2 .our_nice_container {
  width: 100%;
}
